{% extends "layout.%s.html"|format(config.TEMPLATE) %}
{% block title %}Add/Remove Admins{% endblock %}
{% block extra_style %}{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span7">
        <h4>Current Admins</h4>
            <ul>
            {% for admin in admins %}
                <li><a href="{{ url_for('remove_admin', aid=admin.Id) }}">(Remove)</a> - {{admin.OpenId}} 
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span7">
        <h4>Add Admin</h4>
            <form action="{{ url_for('add_admin') }}" method="POST">
                <label for="adminOid">Open ID</label>
                <input type="text" class="form-control" name="adminOid" placeholder="Open ID">
                <button class="btn btn-primary" type="submit">Add</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}